*, *::after, *::before {
    margin: 0;
    padding: 0;
}

:root {
    --test: red;
}

body {
    font-family: monospace;
}

.content {
    height: 100vh;
    width: 100vw;
    display: grid;
}


.new-game {
    height: 100vh;
    width: 100vw;
    background: rgba(.7, .7, .7, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-name-container {
    position: relative;
    background: white;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.p-name-input {
    font-size: 2rem;
    outline: 0;
    border: none;
}

.p-name-label {
    font-size: 2rem;
    position: absolute;
    left: 2rem;
    color: #777;
    pointer-events: none;
    transition: transform 300ms ease-in-out;
}

.p-name-container:focus-within > .p-name-label,
.p-name-input:not(:placeholder-shown) + .p-name-label {
    transform: translate(-2rem, -3rem) scale(.8);
    pointer-events: auto;
}

.board {
    width: 520px;
    height: 520px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.square {
    height: 50px;
    width: 50px;
    background: white;
    border: 1px solid black;
}

.ship-square { 
    background: blue;
}

.hit-ship-square {
    background: red;
}

.hit-square {
    background: orange;
}

.sunk-ship-square {
    background: black;
}

.boards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.winner-text {
    font-size: 4rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.border-square {
    height: 50px;
    width: 50px;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.board-border-horizontal {
    display: flex;
    grid-column-start: 2;
}

.board-border-vertical {
    display: flex;
    flex-direction: column;
    width: fit-content;
    grid-column-start: 1;
}

.board-wrapper {
    display: grid;
    grid-template-columns: 52px 520px;
    grid-template-rows: 52px 520px;
    border: 1px solid black;
}

.edge {
    grid-row-start: 1;
}
